@font-face {
    font-family: 'Codec Cold';
    src: url('CodecCold-Regular.woff2') format('woff2'),
        url('CodecCold-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

